In [3]:
import pandas as pd

# Read a sample of the data
url = "https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv"
df = pd.read_csv(url)
df

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                      NaN          NaN
264         265            NaN           Outside of NYC          NaN

[265 rows x 4 columns]

In [5]:
from sqlalchemy import create_engine
engine = create_engine('postgresql+psycopg://root:root@localhost:5432/ny_taxi')

In [6]:
df.head(n=0).to_sql(name='zones', con=engine, if_exists='replace')

0

In [12]:
 # Create table schema (no data)
df.head(0).to_sql(
    name="zones",
    con=engine,
    if_exists="replace")
print("Table created")

df.to_sql(
    name="zones",
    con=engine,
    if_exists="append"
    )

print("Inserted:", len(df))

Table created
Inserted: 265